<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layouts/layout :: head"></head>
<body>

	<header th:replace="layouts/layout :: header"></header>

	<div class="container mt-3">
		<div class="row">
			<div class="col-6 mx-auto">

				<div class="card bg-light">
					<div class="card-header">
						<div th:text="${titulo}" class=""></div>
					</div>
					<div class="card-body">

						<img th:if="${#strings.length(cliente.foto) > 0}"
							class="img-thumbnail img-responsive rounded"
							th:src="@{'/uploads/' + ${cliente.foto}}"
							th:atl="${cliente.foto}">
							
							<hr />

						<ul class="list-group">
							<li class="list-group-item" th:text="${cliente.nombre}"></li>
							<li class="list-group-item" th:text="${cliente.apellido}"></li>
							<li class="list-group-item" th:text="${cliente.email}"></li>
							<li class="list-group-item" th:text="${cliente.createAt}"></li>
						</ul>

					</div>
				</div>

			</div>
		</div>
	</div>

	<footer th:replace="layouts/layout :: footer"></footer>




</body>
</html>